@use "styles/styles" as *;

.loader {
  color: $brand;

  @include dark-theme {
    color: $brand-dark;
  }

  &.s {
    width: 24px;
    height: 24px;
  }

  &.m {
    width: 48px;
    height: 48px;
    
  }

  &.l {
    width: 60px;
    height: 60px;
  }
}