@use "styles/styles" as *;

.container {
  height: 48px;
  display: inline-flex;
  align-items: center;
}

.icon {
  margin-right: $space-xxs;
}

.button {
  width: auto;
  height: 100%;
  background-color: $background;
  color: $text-primary;
  padding: $space-xs;

  @include dark-theme {
    color: $text-primary-dark;
    background-color: $background-dark;
  }
}

.button:hover {
  background-color: $background !important;

  @include dark-theme {
    background-color: $background-dark !important;
  }
}
