@import 'styles/styles.scss';

.placeholder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $img-placeholder;

  &.circle {
    border-radius: 50%;
  }
}
