@use "styles/styles" as *;

.text {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  margin: 0;

  &.primary {
    color: $text-primary;

    @include dark-theme {
      color: $text-primary-dark;
    }
  }

  &.secondary {
    color: $text-secondary;

    @include dark-theme {
      color: $text-secondary-dark;
    }
  }

  &.accent {
    color: $text-accent;

    @include dark-theme {
      color: $text-accent-dark;
    }
  }

  &.inherit {
    color: inherit;
  }

  &.title {
    font-weight: 700;
    font-size: 44px;
    line-height: 48px;
  }

  &.button {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
  }

  &.p20 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  &.p18 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  &.p16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  &.p14 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
}
