@use "styles/styles" as *;

.root {
  padding-bottom: $space-xxl;

  @media (max-width: 768px) {
    padding-bottom: $space-xl;
    margin-top: calc(90px + $space-m);
  }
}

.title {
  margin-top: $space-xl;
  margin-left: $space-xxl;
  margin-right: $space-xxl;
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    margin: $space-s $space-s 0 $space-l;
  }
}

.profile {
  margin-left: $space-xxl;
  margin-top: $space-m;
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    margin-left: $space-l;
    margin-top: $space-s;
  }
}

.imgContainer {
  margin-top: $space-m;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-elements;
  cursor: pointer;
}

.imgContainer img {
  transition: opacity 0.3s ease;
}

.imgContainer:hover img {
  opacity: 0.8;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer {
  margin-left: $space-m;
  margin-top: $space-m;
  display: flex;
  flex-direction: column;
  gap: $space-xxs;
}
