@use "styles/styles" as *;

.card {
  cursor: pointer;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;

  &:hover {
    @include shadow;
    transform: scale(1.02);
  }
}

.imgContainer {
  width: 360px;
  height: 260px;
  overflow: hidden;

  background-color: $button-primary-bg-disabled;

  @include dark-theme {
    background-color: $button-primary-bg-disabled-dark;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  background-color: $background-elements;
  display: flex;
  flex-direction: column;
  padding: $space-s $space-xs;
  gap: $space-l;

  @include dark-theme {
    background-color: $background-elements-dark;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: $space-xxs;
  width: auto;
  height: 24px;
}
