@use "styles/styles" as *;

.root {
  padding-bottom: $space-xxl;

  @media (max-width: 768px) {
    padding-bottom: $space-xl;
    padding-right: $space-s;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $space-l;
  max-width: 1272px;
  margin-left: $space-xxl;
  margin-top: $space-l;

  @media (max-width: 768px) {
    margin-left: $space-s;
    margin-top: $space-m;
  }
}

.related {
  max-width: 1272px;
  margin-top: $space-m;
  margin-left: calc($space-xxl - $space-s);

  @media (max-width: 768px) {
    margin-left: 0;
    margin-top: $space-m;
  }
}

.goBackButton {
  @media (max-width: 768px) {
    margin-left: $space-s !important;
    margin-top: calc(90px + $space-m) !important;
  }
}