@use "styles/styles" as *;

.icon {
  &.primary {
    stroke: $icon-primary;
  }

  &.secondary {
    stroke: $icon-secondary;
  }

  &.accent {
    stroke: $brand;
  }

  &.inherit {
    stroke: inherit;
  }
}
