@use "styles/styles" as *;

.icon {
  &.primary {
    color: $icon-primary;

    @include dark-theme {
      color: $icon-primary-dark;
    }
  }

  &.secondary {
    color: $icon-secondary;

    @include dark-theme {
      color: $icon-secondary-dark;
    }
  }

  &.accent {
    color: $brand;

    @include dark-theme {
      color: $brand-dark;
    }
  }

  &.inherit {
    color: inherit;
  }
}
