@use "styles/styles" as *;

.root {
  @media (max-width: 768px) {
    margin-top: calc(90px) + $space-s;
  }
}

.goBackButton {
  @media (max-width: 768px) {
    margin-top: 0 !important;
    margin-left: $space-m !important;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;

  @media (max-width: 768px) {
    flex-direction: column;
    padding-bottom: $space-xl;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  margin-top: $space-l;
  margin-right: $space-m;
  gap: $space-m;

  @media (max-width: 768px) {
    margin-right: $space-s;
  }
}

.product {
  margin-left: 100px;

  @media (max-width: 768px) {
    margin-left: $space-s;
  }
}

.totalCard {
  margin-top: $space-l;
  margin-right: 100px;

  @media (max-width: 768px) {
    margin-left: $space-s;
    margin-right: $space-s;
  }
}

.noItems {
  margin-top: $space-m;
  margin-left: 150px;

  @media (max-width: 768px) {
    margin-left: $space-l;
  }
}