@use "styles/styles" as *;

.container {
  display: flex;
  flex-direction: column;
}

.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textButton {
  margin-bottom: $space-s;
  background-color: $background;
  border: 0 solid $button-border;
  cursor: pointer;
  color: $text-accent;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    color: $text-secondary;
  }
}

.searchAndFilter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $space-m;
  margin: 0 $space-s $space-s;
  z-index: 100;
}

.loading {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: $space-m;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.toTopContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: $space-xs;
}