@use "styles/styles" as *;

.card {
  width: 360px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 80px;
  padding: $space-s $space-s $space-m;

  @media (max-width: 768px) {
    gap: $space-l;
  }
}


