@import 'styles/styles.scss';

.card {
  font-size: 0;

  &:hover {
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
}

.img {
  width: 100%;
  height: auto;
}

.content {
  background-color: $background-elements;
  display: flex;
  flex-direction: column;
  padding: $space-xl $space-xs;
  gap: $space-l;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: $space-xxs;
  width: auto;
  height: 142px;
}

.actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}