@use "styles/styles" as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  padding: 0 $space-xxl;

  background-color: $background-elements;
  border-bottom: 2px solid $border;

  box-sizing: border-box;

  @include dark-theme {
    background-color: $background-elements-dark;
    border-bottom: 2px solid $border-dark;
  }

  @media (max-width: 845px) {
    padding: $space-l;
  }
}

.icons {
  display: flex;
  justify-content: space-between;
  gap: $space-m;
  align-items: center;
}

.textContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $space-xl;
}

.textWrapper {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.text {
  transition: 0.3s;

  &:hover {
    color: $text-accent !important;

    @include dark-theme {
      color: $text-accent-dark !important;
    }
  }
}

.highlightedtext {
  position: relative;
  overflow: visible !important;
}

.highlightedtext::after {
  content: "";
  position: absolute;
  left: -4px;
  top: 100%;
  margin-top: 33px;
  width: calc(100% + 8px);
  height: 3px;
  background-color: $brand;
  z-index: 10000;

  @include dark-theme {
    background-color: $brand-dark;
  }
}

.theme,
.bag,
.user {
  cursor: pointer;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  opacity: 0.8;

  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}
