@use "styles/styles" as *;

.root {
  @include flexColumnCenter;

  padding-bottom: $space-xxl;

  @media (max-width: 768px) {
    padding-bottom: 50px;
  }
}

.text {
  max-width: 580px;
  margin-top: $space-xxl;
  text-align: center;
  margin-bottom: $space-xl;

  .title {
    margin-top: 0;
    margin-bottom: $space-m;
  }

  .description {
    margin-bottom: $space-xxs;
  }

  @media (max-width: 768px) {
    width: 90%;
    margin: calc(90px + $space-l) 0 $space-m;
  }
}

.content {
  width: 100%;
  max-width: 1272px;
}
