@use "styles/styles" as *;

.container {
  position: relative;
  width: 300px;
  cursor: pointer;
}

.input {
  color: $input-placeholder;
  @include font-primary-s14;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 0;
  overflow-y: auto;
  margin-top: 8px;
  @include shadow;
}

.item {
  padding: 14px 12px;
  color: $text-primary;
  cursor: pointer;
  @include font-primary-s14;

  &:hover {
    color: $text-secondary;
  }
}

.itemSelected {
  color: $text-accent;
}

.icon {
  color: $text-secondary;
  display: inline-block;
  transition: transform 0.3s ease;

  &.flipIcon {
    transform: scaleY(-1);
  }
}
