@use "styles/styles" as *;

.icon {
  &.primary {
    color: $icon-primary;
  }

  &.secondary {
    color: $icon-secondary;
  }

  &.accent {
    color: $brand;
  }

  &.inherit {
    color: inherit;
  }
}
