@use "styles/styles" as *;

.container {
  display: flex;
}

.search {
  display: flex;
  width: 100%;
}

.searchButton {
  display: flex;
  flex: 0 0 auto;
  margin-left: $space-m;
}

.input {
  display: flex;
  flex: 1 1 auto;
}

.clearIcon {
  position: absolute;
  top: -12px;
  z-index: 1000;
  stroke: $icon-primary;
  left: -$space-m;

  &:hover path {
    stroke: $icon-secondary;
  }
}