@use "styles/styles" as *;

.root {
  @include flexColumnCenter;

  padding-bottom: $space-xxl;

  @media (max-width: 768px) {
    padding-bottom: 50px;
  }
}

.text {
  min-width: none;
  width: 450px;
  margin-top: $space-xxl;
  text-align: center;
  margin-bottom: $space-xl;

  .title {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .description {
    margin-bottom: 8px;
    white-space: pre-wrap;
  }

  @media (max-width: 768px) {
    width: 90%;
    margin-top: calc($space-m + 90px);
  }
}

.content {
  max-width: 1240px;
  margin: 0 $space-xxl;
}
